
#studioArt {background-color: deeppink}
img {border-radius: 100%}
#studioArt {font-family: cursive}
#studioArt h1 {color: floralwhite}
#studioArt h1 {font-size: 400% }
#Economics {background-color: cornflowerblue}
#Economics h1 {font-size: 400%}
#Politics {background-color: darkred}
#Politics h1 {color: floralwhite}
#Politics h1 {font-size: 400%}
#ComputerScience {background-color: chartreuse}
#ComputerScience h1 {font-size: 400%}
#Mathematics {background-color: aquamarine}
#Mathematics h1 {font-size: 400%}
#landing {background-color: dimgrey}
#landing h1 {color: floralwhite}
#landing h1 {font-size: 400%}
#landing {background-image: url("../../background.jpg");}
#landing {background-size: cover}
#landing ul{color: floralwhite}
#landing p {color: floralwhite}
#landing p {font-size: 200%}
#landing p.uli {color: floralwhite}
#landing p.uli {font-size: 200%}

table {border-collapse: collapse}
table, th, td {border: 3px solid white;}
table {border-color: floralwhite}
table {width: 50%;}
th { height: 100px;}
th {text-align: center;}
th, td { padding: 15px;}
th, td {border-bottom: 3px solid #ddd;}